{% embed "sdc_session:card" with {
  attributes: attributes.addClass(classes),
  content,
  content_attributes,
  label,
  title_attributes,
  title_prefix,
  title_suffix,
  read_more,
  url,
  } only %}
  {% block content %}
    {% embed "sdc_session:title" with {
      attributes: title_attributes.addClass('card__title'),
      label: label ? label : content.field_title,
      title_prefix,
      title_suffix,
    } only %}
      {% block title_prefix %}
        {{ title_prefix }}
      {% endblock %}
      {% block title_suffix %}
        {{ title_suffix }}
      {% endblock %}
    {% endembed %}
    <div{{ content_attributes.addClass('card__content') }}>
      {{ content }}
    </div>
    {% embed "sdc_session:read-more" with {
      attributes: create_attribute({'class': ['card__read-more']}),
      read_more: 'View article',
      label,
      url,
    } only %}
      {% block a11y %}
        {{ label }}
      {% endblock %}
      {% block text %}
        {{ read_more }}
      {% endblock %}
    {% endembed %}
  {% endblock %}
{% endembed %}